@model IEnumerable<Web.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="bangsanpham" class="table table-hover">
    <thead>
        <tr>
            <th>
                Mã
            </th>
            <th>
                TênSP
            </th>
            <th>
                GiaBan
            </th>
            <th>
                GiaGoc
            </th>
            <th>
                GiaGop
            </th>
            <th>
                SoLuong
            </th>
            <th>
                TenLoai
            </th>
            <th>HinhAnh</th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaSP
                </td>
                <td>
                    @item.TenSP
                </td>
                <td>
                    @item.GiaBan.ToString("N0")
                </td>
                <td>
                    @item.GiaGoc
                </td>
                <td>
                    @item.GiaGop
                </td>
                <td>
                    @item.SoLuongTon
                </td>
                <td>
                    @item.LoaiSanPham.TenLoai
                </td>
                <td>
                    <img src="@Url.Action("Details", new { id = item.id})" width="150" height="100" />
                </td>

                <td>

                    <a href="@Url.Action("Edit",new{id = item.id})">
                        <span class="glyphicon glyphicon-pencil"> |</span>
                    </a>
                    <a class="pull-right" href="@Url.Action("Delete",new{id=item.id})">
                        <span class=" glyphicon glyphicon-trash"> |</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
     $(document).ready( function () {
    $('#bangsanpham').DataTable();
     } );
    </script>
}

